<div class="author-page">
  <div class="author-cover">
    <%= image_tag(@author.picture)%> 
  </div>

  <div class="author-info">
    <div class="author author__name">
      <%= @author.full_name %>
    </div>

    <div class="author author__gender">
      <span>gender:</span>
      <p><%= @author.gender %></p>
    </div>

    <div class="author author__born">
      <span>Born:</span>
      <p><%= @author.born %><p>
    </div>

    <div class="author author__bio">
      <span>About this author:</span>
      <p><%= @author.bio %></p>
    </div>
  </div>

  <ul class="author__books">
    <%= @author.full_name %> books
    <%= render @author.books %>
  </ul>
</div>
